[defaults]
inventory = inventories/lab/hosts.yml
roles_path = roles
collections_path = ./.ansible/collections:~/.ansible/collections
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
