apiVersion: apps/v1
kind: Deployment
metadata:
  name: evpn-test
  namespace: {{ cudn_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: evpn-test
  template:
    metadata:
      labels:
        app: evpn-test
    spec:
      containers:
      - name: test
        image: registry.redhat.io/rhel9/support-tools:latest
        command: ["/bin/sh", "-c", "sleep infinity"]
